/* Add here all your CSS customizations */
select {
	border: 1px solid #999;
	border-radius: 6px;
	outline: none;
	background: #414446;
	color: #999;
}

.goog-logo-link {
	display:none !important;
} 

.goog-te-gadget{
	color: transparent !important;
}

.goog-te-combo {
	position: absolute;
}

.custom-thumb-info-title {
	opacity: 1 !important;
}
.hover-effect-3d {
	margin-bottom: 30px;
}
.thumb-info .thumb-info-wrapper {
	background: rgba(33, 37, 41, 0.9) !important;
}
.custom-sister-concerns-section {
	padding-bottom: 100px !important;
}
.custom-sister-concerns-header-container {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.company-profile-sister-concern-button {
	position: relative;
	text-align: center;
	margin-top: 40px;
}

.rev_slider li.slide-overlay.slide-overlay-level-8 .slotholder:after {
	opacity: 0.3;
}
.overlay.overlay-op-9:hover:before, .overlay.overlay-op-9.overlay-show:before, .overlay.overlay-op-9.show:before {
	opacity: 0.8;
}

.power-by:hover p {
	color: #00AACE !important;
}
#header .header-logo img {
	width: 222px;
	height: 108px;
}
@media (min-width: 1921px){

}

@media (min-width: 1800px) and (max-width: 1920px) {

}

@media (min-width: 1200px) and (max-width: 1799px) {

}
@media (min-width: 768px) and (max-width: 1199px) {
	.goog-te-combo {
		position: relative;
	}
	#header .header-logo img {
		width: 150px;
		height: 73px;
	}
}
@media (max-width: 767px) {
	.goog-te-combo {
		position: relative;
	}
	#header .header-logo img {
		width: 150px;
		height: 73px;
	}
}